.menu{
    display:flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;
}

body{
    background-color: whitesmoke;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: white;
    width:310px;
    font-family: fantasy;
}

.origami{
    border-radius: 20px;
    background-color: white;
    width:310px;
    font-family: fantasy;
    margin: 40px;
    padding: 30px;
}

.grid{
    margin: 20px;
}

body{
    margin: 0px;
    background-color: #f7f2f2;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 50px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:#ffffff;
}
.grid img{
    border:2px solid #000000;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

a:link{
    color:white;
}

a:visited{
    color:white;
}

.origami:hover{
    transform: scale(1.2);
}
a herf{
    text-decoration:none;
}

.origami{
    position:relative;
}